<div class="card">
  <div class="img-card">
    <img [src]="wish.picture" alt="video.title" />
  </div>
  <div class="description-card">
    <div class="title-card">
      <h1>{{ wish.title }}</h1>
    </div>
    <div class="infos-card">
      <p class="description">{{ wish.description }}</p>
     <!-- <p class="price">{{ wish.estimatePrice }} euros</p> -->
      <a [attr.href]="wish.urlProduct" target="_blank">
      <p>Voir produit</p>
    </a>
    </div>
  </div>
  <div class="buttons-change">
    <button (click)="openEditModal()"><img src="./assets/svg/editWhite.svg" alt="" /></button>
    <button (click)="openDeleteModal()"><img src="./assets/svg/delete.svg" alt="" /></button>
  </div>
</div>

<app-modal-edit
  *ngIf="modalEditWish"
  [(editedWish)]="editedWish"
  (editedWishChange)="editedWish = $event"
  (closeModal)="closeEditModal()"
  (updateWish)="updateWish()"
></app-modal-edit>

<app-modal-delete
  *ngIf="modalCancelWish"
  [wish]="wish"
  (onCancel)="closeModal()"
  (onDeleteWish)="confirmDeleteWish()"
></app-modal-delete> 

