.home-container {
  min-width: 100vw;
  margin: 0 auto;
 display: flex;
 justify-content: center;

  .buttons-container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
    gap: 30px;
    padding-top: 100px;

    button {
      width: 300px;
      height: 30px;
      border: none;
      border-radius: 8px;
      box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.547);
      background-color: rgb(139, 20, 20);
      color: white;
    }
  }
}