<p>modal-edit works!</p>
<div class="modal-edit">
  <h3>Modifier le souhait</h3>
  <form (submit)="onSave()">
    <fieldset>
      <label for="title">Titre</label>
      <input type="text" id="title" name="title" [(ngModel)]="editedWish.title" required>
    </fieldset>
    <fieldset>
      <label for="description">Description</label>
      <textarea id="description" name="description" [(ngModel)]="editedWish.description"></textarea>
    </fieldset>
    <fieldset>
      <label for="estimatePrice">Prix estimé</label>
      <input type="number" id="estimatePrice" name="estimatePrice" [(ngModel)]="editedWish.estimatePrice" required>
    </fieldset>
    <div class="modal-actions">
      <button type="button" (click)="cancel()">Annuler</button>
      <button type="submit">Enregistrer</button>
    </div>
  </form>
</div>
