<div class="modal-overlay" (click)="onBackgroundClick($event)">
  <div class="modal-edit" (click)="$event.stopPropagation()">
    <h3>Modifier le souhait</h3>
    <form (submit)="onSave()" class="form">
      <div class="form-change">
        <label for="title">Nom du souhait:</label>
        <input type="text" id="title" name="title" [(ngModel)]="editedWish.title" required>
      </div>
      <div class="form-change">
        <label for="description">Description:</label>
        <textarea id="description" name="description" [(ngModel)]="editedWish.description" required></textarea>
      </div>
      <div class="form-change">
        <label for="estimatePrice">Prix estimé:</label>
        <input type="number" id="estimatePrice" name="estimatePrice" [(ngModel)]="editedWish.estimatePrice" required>
      </div>
      <div class="form-change">
        <label for="urlProduct">Lien du produit:</label>
        <input type="text" id="urlProduct" name="urlProduct" [(ngModel)]="editedWish.urlProduct" required>
      </div>
      <div class="modal-actions">
        <button type="button" (click)="cancel()">Annuler</button>
        <button type="submit">Enregistrer</button>
      </div>
    </form>
  </div>
</div>
