
<div class="form-container">
  <div class="form">
  <h1>Faites un voeux</h1>
  
  <form #myForm="ngForm" (ngSubmit)="myForm.valid && createWish()">
    <div class="input-form">
    <fieldset>
      <legend>OMG</legend>
      <label for="name-order">Nom du souhait: </label>
      <input
        id="name-order"
        name="name-order"
        [(ngModel)]="newWish.title"
        #lastname="ngModel"
        type="text"
        required
      />
    </fieldset>
    <fieldset>
      <label for="description-order">Description du souhait: </label>
      <input
        id="description-order"
        name="description-order"
        [(ngModel)]="newWish.description"
        #lastname="ngModel"
        type="text"
      />
    </fieldset>
    <fieldset>
      <label for="price-order">Prix estimé: </label>
      <input
        id="price-order"
        name="price-order"
        [(ngModel)]="newWish.estimatePrice"
        #lastname="ngModel"
        type="text"
        required
      />
    </fieldset>
    <fieldset>
      <label for="picture-order">Photo du produit: </label>
      <input
      id="picture-order"
      name="picture-order"
      [(ngModel)]="newWish.picture"
      #lastname="ngModel"
      type="text"
      required
      />
    </fieldset>
    <div>
      Form submitted ? {{ myForm.submitted }} Form valid ? {{ myForm.valid }} Form
      invalid ? {{ myForm.invalid }}
    </div>
  </div>
  <div class="btn-form">
    <button type="reset">Restaurer</button>
    <button type="submit">Enregistrer mon voeux</button>
  </div>
  </form>
  </div>
  </div>